@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: #f5f5f7;
  color: #1d1d1f;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}